@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

html {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

html,
button {
  font-family: "Raleway", sans-serif;
}
